/* Tyler Creager 
April 19 2023
Portfolio Project */
/* css used to target all portfolio web pages */
/* applies to all web pages to promote consistency       */
/* style also is here for custom fonts and google fonts. 90% of the styles will be from here. Anything to do with flex boxes or simmilar display styles
will bee in a separate sheet. The stylings for the tables is in it's own sheet */

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

@font-face {
    font-family: 'bicubikregular';
    src: url(../fonts/bicubik-71qr-webfont.woff2) format('woff2'),
         url(../fonts/bicubik-71qr-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}


html{
    background-color: #05204A;
    font-size: 12px;
}
html a:link{
    color:#083D77 ;
    background-color: transparent;
    text-decoration: none;

}
html a:visited{
    color: #E6CEB9;
    background-color: transparent;
    text-decoration: none;
}
html a:hover{
    background-color: #FFBD2B;
    text-decoration: underline;
}
html a:active{
    color: #DCD6F7;
    text-decoration: underline;
}

.outerWrapper{
    border-radius: 15%;
	max-width: 70%;
	margin:auto;
    background-color: #586D91;
    text-align: center;
    padding: 20px;
}

header{
    max-width: 100%;
    max-height: 30%;
    border-radius: 5%;
    background:linear-gradient(to right, rgb(255, 189, 43), rgb(220, 214, 247) );
    color: #000000;
    font-family: 'bicubikregular', Georgia, serif;
    font-size: 2.5rem;  
}

#logo{
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 15%;
    width: 150px;
    height: 150px;
   
}

nav{
    max-width: 100%;
    max-height: 20%;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #083D77;
    border-radius: 5%;
  }
  
nav li a {
    color: #F9E7E7;
    text-align: center;
    text-decoration: none;
    padding: 20px;
  }
  
nav li a:hover {
    background-color: #FFBD2B;
    border-radius: 50%;
  }
nav li a:visited{
    color: #6B818C;

}

 a:hover #logo{
        border-radius: 50%;
    }

 
h1{
	font-family: 'bicubikregular', Georgia, serif;
	font-size: 3rem;
    color:#083D77 ;
    
    }
h2{
    background-color: #083D77;
    border-radius: 10%;
    color: #F9E7E7;
	font-family: 'bicubikregular', Georgia, serif;
	font-size: 2.5rem;
	font-style: italic;
    margin-left: 5%;
    margin-right: 5%;
    }
    h3{
    background-color: #083D77;
    border-radius: 10%;
    color: #F9E7E7;
	font-family: 'bicubikregular', Georgia, serif;
	font-size: 2rem;
	font-weight: bold;
    margin-left: 15%;
    margin-right:15%;
    }
    h4{
    background-color: #083D77;
    border-radius: 10%;
    color: #F9E7E7;
    font-family: 'bicubikregular', Georgia, serif;
    font-size: 2rem;
    font-style: italic;
    margin-left: 15%;
    margin-right:15%;
    }
body {
        background: rgba(210, 223, 250, 0.404);
        color: #000000;
        padding: 10px 10px;
        margin: 20px;
        border-radius: 2em;
        font-size: 1.25em; 
    }
main{
    background:linear-gradient(to top, rgb(255, 189, 43), rgb(220, 214, 247) );
    border-radius: 10%;
    margin: auto;
    padding: 20px;
}
.exampleProject a.button:hover{
    background-color: #FFBD2B;
}
.exampleProject a.button:visited{
    background-color: #6B818C;
}

.link:hover{
    background-color: #FFBD2B;
}
.link:visited{
    color: #E6CEB9;
}
main img{
    border-radius: 10%;
    padding: 20px;
    width:60%;
    transition: width 2s ease 0.5s;
    max-width: 90%;
    max-height: 90%;
}
main img:hover{
    width:90%;
}
form{
    background-color:#586D91;
    border-radius: 10%;
    font-size: 2rem;
    color: #DCD6F7;
    font-family: 'Fira Mono', monospace, serif;
}

p{
    background-color:#DCD6F7 ;
    border-radius: 10%;
    font-family: 'Fira Mono', monospace, serif;
    font-size: 2rem;
    color: #000000;
    padding: 15px 20px;
    margin-left: 15%;
    margin-right:15%;
    max-height:90%

}
input{
    background-color:#DCD6F7 ;
}
input:hover{
    background-color: #FFBD2B;
}
footer{
    color: #CEF9F2;
    border-radius: 10%;
    font-family: 'Fira Mono', monospace, serif;
    font-size: 1.25rem;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
	text-align: center;
    
}

