@import url('https://fonts.googleapis.com/css?family=Righteous');
@font-face {
	font-family: "Quicksand-Bold";
	src: url("../fonts/Quicksand-Bold.otf") format("opentype");
}
$background:#B8D1EB;
$main:#C5A98B ;
$footer: #7a6b48;
$black: #000;
$red: #8B0000;
$bodyFont:"Times New Roman", georgia, serif;
$header1Font: 'Righteous', cursive, serif;
$header2Font:'Quicksand-Bold', Arial, sans-serif ;



body { 
	background-color: $background;
	font-family: $bodyFont
}

#outerwrapper { 
    width: 70%;
	margin: 0 auto;
}

/*applied cityFarmer.jpg */
.floatleft {	
	float: left;
	margin-right: 3%;
}
header{
    h1 {
        font: {
        family:$header1Font;
        size: 60px;
        }
    }

    h2 {
        font: {
        family:$header2Font;
        weight:normal;
        style:italic;
        
        }
    }
}

main {	
	background-color: $main;
	padding: 10px;
}

nav {
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: $main;
        li{
            a{
            display: block;
            color:$black;
            padding: 8px 16px;
            text-decoration: none;
            }
            
        }

    }
    > ul > li >{
        a.active {
            background-color: $footer;
            color: $black;
        } 
    a:hover:not(.active) {
            background-color: $footer;
            color: $red ;
        }

    }
  }
  


/* applied hothouse.jpg */
.floatright {
	float: right;
	margin-left: 3%;
}
	
main > {
    ul{
	list-style-image: url(../images/tomatoeBullet.png);
    }
}

main, footer{ 
	clear: both;
}
footer {
	font-size: 0.75em;
	text-align: center;
	background-color:$footer;
	padding: 10px 0px;
}
