/* Tyler Creager
April 18th 2023
Practice CustomFonts Style Sheet */

@font-face {
    font-family: 'pacifico';
    src: url('../fonts/pacifico-webfont.woff') format('woff'),
         url('../fonts/pacifico-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'pacifico', "Times New Roman", serif;
}