
/*Tyler Creager
April 04/20/2023 */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: 'robotoregular';
    src: url(../fonts/roboto/roboto-regular1-webfont.woff2) format('woff2'),
         url(../fonts/roboto/roboto-regular1-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}
	 
#outerwrapper {	
	border-radius: 15%;
	max-width: 70%;
	margin:auto;
	background: rgba(243,205,170, 0.4);
}

html{
	background-image: url(../images/jewelry.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
footer{
	padding-bottom: 10px;
	text-align: center;
}
main{
	background:linear-gradient(to right, rgb(255, 255, 255), rgb(240, 249, 230) );
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: Georgia, Times, serif;

}
#logo{
	float: left;
	border-radius: 50%;

}
.addrightmargin{
	margin-right: 10%;
}
nav ul{
	list-style: none;
	font-size: 1.5em;
	clear: left;
}
h1{
	font-family:'Pacifico', cursive, serif;
	font-size: 4em;
}
h2{
	font-family: 'robotoregular', cursive, serif;
	font-size: 2em;
	font-style: italic;
}
